<script type="text/javascript" src="../js/eelauth.js"></script>		
<div class="uk-position-relative">
		<span class="spanEE navbar-brand">
				<a href="index.php"><img class="logoEE img-responsive" id="logoEE" name="logoEE" alt="LogoEE" src="../img/logoEE.png"></a>
		</span>
    <div class="uk-position-top-center">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-center">
					
                <ul class="uk-navbar-nav">
						<li>
								<a href="./index.php"><span uk-icon="icon: home" aria-hidden="true"></span>&nbsp Accueil</a>
							</li>
				
							<li>
								<a href="./contact.php"><span uk-icon="icon: album" aria-hidden="true"></span>&nbsp Contact</a>
							</li>
				
							<li>
								<a href="./about.php"><span uk-icon="icon: info" aria-hidden="true"></span>&nbsp À propos</a>
							</li>
							<li>
								<a href="#" id="login"  onclick="handleAuthClick()"><span uk-icon="icon: sign-in"></span>&nbsp Login</a>
							</li>
                </ul>
          </div>
        </nav>
    </div>
</div>
		
<script type="text/javascript">
$(function(){
	$('.nav a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active');
})
      function updateSigninStatus(isSignedIn) {
        if (isSignedIn) {
         	EELAuth.getUserInfo(onReceiveUserInfo);
        } else {
					EELAuth.signIn();
					
        }
      }
      function handleAuthClick(event) {
    	  updateSigninStatus(EELAuth.isSignedIn());
      }
      
      function onReceiveUserInfo(info) {
					var email = info.email;
					var firstname = info.firstname;
					var lastname = info.lastname;
          var img = info.image; 
	          $.ajax({
					method: 'POST',
					url: '../Controller/get_users.php',
					//Passe en paramètre l'utilisateur connecté 
					data : {'email': email, 'firstname': firstname, 'lastname': lastname},
					dataType: 'json',
					success: function (data) {
						var msg = '';
		
						switch (data.ReturnCode){
							case 0 : // tout bon
							case 5 : // utilisateur créé
								displayUser(data.Data, img);
								break;
							case 2 : // problème récup données
							case 3 : // problème encodage sur serveur
							case 4 : // paramètres manquants
							default:
								msg = data.Message;
								break;
						}
						if (msg.length > 0)
							$("#info").html(msg);
					},
					error: function(jqXHR){
						var msg = '';
						switch(jqXHR.status){
							case 404 :
								msg = "page pas trouvée. 404";
								break;
							case 200 :
								msg = "probleme avec json. 200" + jqXHR.responseText;
								break;
		
						} // End switch
						if (msg.length > 0)
							$("#info").html(msg);
					}
				});
		}

		function displayUser(arData, img) {
			var user = [arData];
			if(user.length > 0){
				var email = arData.email;
				var role = arData.role;
				var name = arData.lastName;
				$.ajax({
					method: 'POST',
					url: '../Controller/set_user.php',
					//Passe en paramètre l'utilisateur connecté 
					data : {'email': email, 'role': role, 'name': name, 'img': img},
					dataType: 'json',
					success: function (data) {
						var msg = '';
		
						switch (data.ReturnCode){
							case 0: // Pas d'erreur, on redirige vers index
								$.redirect('./index.php');
								break;
							default:
								msg = data.Message;
								break;
						}
						if (msg.length > 0)
							alert(msg);
					},
					error: function(jqXHR){
						var msg = '';
						switch(jqXHR.status){
							case 404 :
								msg = "page pas trouvée. 404";
								break;
							case 200 :
								msg = "probleme avec json. 200";
								break;
		
						} // End switch
						if (msg.length > 0)
							alert(msg);
					}
				});
				
			}
		}
    </script>
    <script async defer src="https://apis.google.com/js/api.js" 
      onload="this.onload=function(){};EELAuth.EELClientInitialize(updateSigninStatus)" 
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
		</script>
		
		