<div class="uk-position-relative">
		<span class="spanEE navbar-brand">
				<a href="index.php"><img class="logoEE img-responsive" id="logoEE" name="logoEE" alt="LogoEE" src="../img/logoEE.png"></a>
		</span>
    <div class="uk-position-top-center">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-center">
					
                <ul class="uk-navbar-nav">
                    <li><a href="./index.php"><span uk-icon="icon: home" aria-hidden="true"></span>&nbsp Accueil</a></li>
					<li><a href="./directory.php"><span uk-icon="icon: album" aria-hidden="true"></span> &nbsp Annuaire des entreprises</a></li>
					<li><a href="./offers.php"><span uk-icon="icon:  copy" aria-hidden="true"></span>&nbsp Offres de stages</a></li>
					<li><a href="./history.php"><span uk-icon="icon: history" aria-hidden="true"></span>&nbsp Historique des entreprises</a></li>
					<li><a href="./about.php"><span uk-icon="icon: info" aria-hidden="true"></span>&nbsp À Propos</a></li>
					<li><a href="./faq.php" ><span uk-icon="icon: question"></span>&nbsp FAQ</a>
					<li class="has-dropdown links" data-content="logo"><a href="#0" id="logoEduGe"></a>
						<div class="uk-navbar-dropdown">
								<ul class="uk-nav uk-navbar-dropdown-nav">
									<li class="uk-active" ><a href="./logout.php"><span uk-icon="icon: sign-out">&nbsp Déconnexion</span></a></li>
								</ul>
							</div>
					</li>
                </ul>
          </div>
        </nav>
    </div>
</div>
<script>
$(document).ready(function(){
	// Met en surbrilliance l'onglet de navigation sur lequel on se trouve
	$('.nav a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active');
	
	var user = '<?php if(ESession::getEmail()){echo ESession::getEmail();}?>';
	var img = '<img class="photos img-circle" alt="photos" src="<?php echo ESession::getImg(); ?>">';
	var name =  '<?php if(ESession::getName()){echo ESession::getName();}?>';
	 
	$('#logoEduGe').append(img + "&nbsp" + name);

	ELibrary.get_data('../Controller/get_users.php', createOptionUserName, {'user':user});

	/**
	 * Affiche le nom et l'image de l'utilisateur connecté
	 *  @param JSON arData	Tableau JSON qui contient les données de l'utilisateur
	 */
	function createOptionUserName(arData) {
		var a = $('#navbarDropdownMenuLink');
		a.html(img + ' ' + arData.firstName);
	}
});
</script>
