<div class="uk-position-relative">
		<span class="spanEE navbar-brand">
				<a href="index.php"><img class="logoEE img-responsive" id="logoEE" name="logoEE" alt="LogoEE" src="../img/logoEE.png"></a>

		</span>
    <div class="uk-position-top-center">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-center">
					
                <ul class="uk-navbar-nav">
                    <li><a href="./index.php"><span uk-icon="icon: home" aria-hidden="true"></span>&nbsp Accueil</a></li>
					<li><a href="./directory.php"><span uk-icon="icon: album" aria-hidden="true"></span>&nbsp Annuaire des entreprises</a></li>
					<li><a href="./offers.php"><span uk-icon="icon:  copy" aria-hidden="true"></span>&nbsp Offres de stages</a></li>
					<li><a href="./history.php"><span uk-icon="icon: history" aria-hidden="true"></span>&nbsp Historique des entreprises</a></li>
					<li><a href="./listTutor.php"><span uk-icon="icon: list" aria-hidden="true"></span>&nbsp Liste des tuteurs</a></li>
					<li><a href="./assignment.php"><span uk-icon="icon: pencil"></span>&nbsp Affectation</a></li>
					<li><a href="./management.php"><span uk-icon="icon: cog" aria-hidden="true"></span>&nbsp Gestion des commentaires <span id="unvalidatedComments"class="badge"></span></a></li>
					<li><a href="./about.php"><span uk-icon="icon: info" aria-hidden="true"></span>&nbsp À Propos</a></li>
					<li><a href="./faq.php" ><span uk-icon="icon: question"></span>&nbsp FAQ</a>
					<li class="has-dropdown links" data-content="logo"><a href="#0" id="logoEduGe"></a>
						<div class="uk-navbar-dropdown">
								<ul class="uk-nav uk-navbar-dropdown-nav">
									<li class="uk-active" ><a href="./logout.php"><span uk-icon="icon: sign-out">&nbsp Déconnexion</span></a></li>
								</ul>
							</div>
					</li>
                </ul>
          </div>
        </nav>
    </div>
</div>
<div style="display:none" id="errorInfo"  class="alert alert-danger" role="alert"><strong>Error!</strong> Une erreur est survenue.<span id="info"></span></div>
<script>
$(document).ready(function(){
	// Met en surbrilliance l'onglet de navigation sur lequel on se trouve
	$('.nav a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active');
	
	var user = '<?php if(ESession::getEmail()){echo ESession::getEmail();}?>';
	var img = '<img class="photos img-circle" alt="photos" src="<?php echo ESession::getImg(); ?>">';
	var name =  '<?php if(ESession::getName()){echo ESession::getName();}?>';
	 

	$('#logoEduGe').append(img + "&nbsp" + name);

	ELibrary.get_data("../Controller/get_comments.php", ELibrary.loadUnvalidatedComments, {'count': true }, 'unvalidatedComments', 'comment-data');
});
</script>