<!-- Modal -->
<div class="modal fade" id="popupDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title" id="myModalLabel">Attention :</h4>
</div>
<div class="modal-body">
<table>
<tr class="col-xs-12 col-lg-12">
<td><p id="deleteToShow"></p></td>
</tr>
</table>
</div>
<div class="modal-footer">
<button data-dismiss="modal" style="float:right;" id="btnAcceptDelete" type="button" class="btn btn-success">Oui</button>
<button data-dismiss="modal" style="float:left;"  id="btnRefuseDelete" type="button" class="btn btn-danger">Non</button>
</div>
</div>
</div>
</div>