<!-- Modal -->
<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Commentaire :</h4>
      </div>
      <div class="modal-body">
      	<table>
      		<tr class="col-xs-12 col-lg-12">
      			<td><p id="commentToShow"></p></td>
      		</tr>
      	</table>        
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" style="float:right;" id="btnAccept" type="button" class="btn btn-success">Accepter</button>
        <button data-dismiss="modal" style="float:left;"  id="btnRefuse" type="button" class="btn btn-danger">Refuser</button>
      </div>
    </div>
  </div>
</div>