body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* Ajout pour la new bar */
    background-color: #fff;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    width: 100%;
    height:100%;
    overflow: hidden;
}

.buttonText{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
	background-color: #ececec !important;
}

#maincontent{
	background-color: #fff;
}

.table-responsive{
	border: none;
}

.headerLink{
	padding-top: 15px;
}

.badge{
	background-color: #2980b9;
	color: #ffffff;
}

.nav{
	font-weight: bold;
	
}

.nav>li>a:hover{
	background-color: #f8f8f8;
	color: #555;
}

a{
	color: #2980b9;
}

.nav>li>a{
	color: #777;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #f8f8f8;
}

.aEE{
	padding: 20px 15px;
	color: #777;
	font-weight: bold;
}

.aEE:hover{
	color: #555;
}

*{
  margin:0px;
  padding:0px;
}

/* Ajout pour la new bar */
.navbar-default{
	border: none;	
}

fieldset{
	/* border: 1px solid #333 !important;
	border-radius: 15px; */
	padding: 5px;
}

#maincontent::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#maincontent::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#maincontent::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2980b9;
}

.table>tbody>tr>td{
	vertical-align: middle;
}

.showComment{
	font-size: 30px;
	/* text-align: center; */
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th, legend{
	border: none;
	margin-bottom: 0px;
}

/* tables sorter */
table.tablesorter thead tr .tablesorter-headerUnSorted  {
	padding-left: 20px;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.png);
}
table.tablesorter thead tr .tablesorter-headerAsc {
	padding-left: 20px;
	background-image: url(../img/asc.png);
	background-color: #085588;
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}
table.tablesorter thead tr .tablesorter-headerDesc {
	padding-left: 20px;
	background-image: url(../img/desc.png);
	background-color: #085588;
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}

/* Extra selectors needed to override the default styling */
table.tablesorter tbody tr.normal-row td {
  background: #f8f8f8;
}
table.tablesorter tbody tr.alt-row td {
background: #fff;
}

.thead-inverse{
	background-color: #2980b9;
	color: #eee;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.EE-tooltip{
	background-color:white !important; 
    color: #337ab7 !important;
    border-radius: 20px;
}

.col-lg-2, .col-lg-12, .table{
	padding: 0px;
	margin: 0px;
}

.form-control-feedback{
	padding-top: 18px;
}

.smallTable{
	width: 70%;
}

.smallTableElementLG{
	float: left;
	width: 720px;
}

.smallTableElementSM{
	float: left;
	width: 360px;
}

.largeTable{
	width: 90%;
}

textarea{
	overflow: scroll-y;
    resize: none;
}

.comment{
    width: 720px;
    height: 150px !important;
    overflow: scroll-y;
    resize: none;
}

.filterTable{
	width: 100%;
	height: 50px;
}

.text-filter{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 10px 0px 10px 5px;
}

.td-filter{
	width: 50px;
	margin: none;
}

.head-filters{
	height: 34px;
}

.btn-filter{
	padding: 9px 9px 9px 9px;
}

.btn-form{
	margin-bottom: 10px;
}

.delete{
	color: #a94442;
}

.has-error{
	color: #a94442;
	font-color: #a94442;
	float: left;
}

footer{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	height: 3vh;
   	width:100%;
	font-size: 15px;
	padding-top: 4px;
	background-color: #f8f8f8;
	border: solid 1px #e7e7e7;
	text-color: #333;
	float: left;
}

.editEnter:hover, .editTraineeship:hover{
	text-decoration: none;
}

.enterLinks:hover, .traineeshipLinks:hover{
	text-decoration: none;
	font-weight: bold;
}

/* Style pour Google Maps */ 
#map {
	height: 400px;
	width: 400px;
}

/* Affiche le boutton de la barre de navigation quand l'écran est en dessous de 1200px de résolution */
@media (max-width: 1200px) {
	#logoEE{
        max-height : 35px;
        float: left;
        margin-left: 0px;
	}

	
	

	.spanEE{
		margin-bottom: 15px;
	}
	.navbar-toggle{
		margin-top: 20px;
	}
	.fa-bars{
		padding-bottom: 2px;
		margin:0px;
	}
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}	
	.navbar-fixed-top {
		top: 0;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}	
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}	
	.navbar-nav>li {
		float: none;
	}	
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
	.photos{
    	display: none;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/* CSS pour la barre de navigation */
	.container-fluid:before,
	.container-fluid:after,
	.nav:after,
	.navbar:after,
	.navbar-header:after,
	.navbar-collapse:after{
		display: none;
	}
	.spanEE{
		 padding-top: 10px;
	}
	ul{
		font-size: 13px;
	}
	#logoEE{
		max-height : 50px;
		float: left;
	}
	#floatRight{
		float: right;
		margin: 0px;
	}
	#logOut{
		float: right;
	}
	.stylish-input-group .input-group-addon{
	    background: white !important; 
	}
	.stylish-input-group .form-control{
		border-right:0; 
		box-shadow:0 0 0; 
		border-color:#ccc;
	}
	.stylish-input-group button{
	    border:0;
	    background:transparent;
	}
	#navbarDropdownMenuLink{
		padding-bottom: 6px;
	}
	.photos{
		margin-top: -7px;
		width:36px;
		height:36px;
	}
	.navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }
    .editEnter, .editTraineeship{
    	float:left;
    }
    .enterLinks, .traineeshipLinks{
    	padding-left: 10px;
    }
    header{
	width: 100vw;
	height: 8vh;
	}

	#maincontent{
	background-color: white;
	overflow-y: auto;
	width: 100%;
    height: 92vh;
	}
}

/* Large devices (large desktops, 1500px and up) */
@media (min-width: 1500px) {
	ul{
		font-size: 15px;
	}
}
