@CHARSET "UTF-8";
#maincontent .datatable table  {
    border-collapse: collapse;
    width: 100%;
}

#maincontent .datatable th td  {
    text-align: left;
    padding: 10px;
}

#maincontent .datatable tr:nth-child(even){
	background-color: #f2f2f2;
}
 

#maincontent .datatable th {
    background-color: blue;
    color: white;
}